In [77]:
import pandas as pd

In [78]:
def _parser(url):
    df = pd.read_html(url)
    df_site = df[2]
    df_site.columns = df[2].iloc[1]
    df_site = hh_df[~hh_df["Posn."].isin(["CRS", 'Posn.'])]
    return df_site

In [62]:
#创建一个空的dataframe
df_temp = pd.DataFrame()
for page in range(1,18):
    url = "http://www.mtdb.igp.uu.se/Polysites/andpoly_%s.html" % page
    df_site = _parser(url)
    #合并dataframe
    df_temp = pd.concat([df_temp, df_site])

In [69]:
df_temp["Posn."] = df_temp["Posn."].apply(int)

In [73]:
df_result = df_temp.sort_values(by="Posn.")
df_result.head()

1,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN

In [74]:
df_result.to_csv("线粒体变异位点频率数据.csv", index=False)

In [76]:
for page in range(1,18):
    url_again = "http://www.mtdb.igp.uu.se/Polysites/andpoly_%s.html" % page
    try:
        df_site_again = _parser(url_again)
        df_chapter = df_site_again.sort_values(by="Posn.")
        df_chapter.to_csv("分类下载/%s000线粒体变异位点频率数据.csv" % page, index=False)
    except:
        continue

In [71]:
df_temp.to_csv??

In [61]:
pd.concat??

In [48]:
url = "http://www.mtdb.igp.uu.se/Polysites/andpoly_1.html"

In [49]:
hh_df = _parser(url)

In [50]:
hh_df.head()

1,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
3,9,G,NaN,1864,NaN,1,NaN,D-loop,NaN,NaN,NaN,NaN
4,10,T,NaN,NaN,4,1861,NaN,D-loop,NaN,NaN,NaN,NaN
5,11,C,NaN,NaN,1864,1,NaN,D-loop,NaN,NaN,NaN,NaN
6,41,C,NaN,NaN,1863,2,NaN,D-loop,NaN,NaN,NaN,NaN

In [38]:
temp_rm_list = list(hh_df["Posn."]).remove("CRS").remove('Posn.')
temp_rm_list

AttributeError: 'NoneType' object has no attribute 'remove'

In [60]:
zz_df = hh_df[~hh_df["Posn."].isin(["CRS", 'Posn.'])]
zz_df.head()

1,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
3,9,G,NaN,1864,NaN,1,NaN,D-loop,NaN,NaN,NaN,NaN
4,10,T,NaN,NaN,4,1861,NaN,D-loop,NaN,NaN,NaN,NaN
5,11,C,NaN,NaN,1864,1,NaN,D-loop,NaN,NaN,NaN,NaN
6,41,C,NaN,NaN,1863,2,NaN,D-loop,NaN,NaN,NaN,NaN

In [55]:
df_empty = pd.DataFrame()
df_empty

Empty DataFrame
Columns: []
Index: []

In [58]:
pd.concat([zz_df,zz_df])

1,Posn.,Base,A,G,C,T,Gap,Location,Codon,Position,Amino Change,Syn?
2,3,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
3,9,G,NaN,1864,NaN,1,NaN,D-loop,NaN,NaN,NaN,NaN
4,10,T,NaN,NaN,4,1861,NaN,D-loop,NaN,NaN,NaN,NaN
5,11,C,NaN,NaN,1864,1,NaN,D-loop,NaN,NaN,NaN,NaN
6,41,C,NaN,NaN,1863,2,NaN,D-loop,NaN,NaN,NaN,NaN
7,42,T,NaN,NaN,1,1864,NaN,D-loop,NaN,NaN,NaN,NaN
8,55,T,2,NaN,4,1859,NaN,D-loop,NaN,NaN,NaN,NaN
9,57,T,NaN,1,2,1862,NaN,D-loop,NaN,NaN,NaN,NaN
10,59,T,NaN,NaN,2,1863,NaN,D-loop,NaN,NaN,NaN,NaN
11,61,C,NaN,NaN,1863,2,NaN,D-loop,NaN,NaN,NaN,NaN
12,62,G,2,1862,NaN,1,NaN,D-loop,NaN,NaN,NaN,NaN
13,63,T,NaN,NaN,6,1859,NaN,D-loop,NaN,NaN,NaN,NaN
14,64,C,NaN,NaN,1838,27,NaN,D-loop,NaN,NaN,NaN,NaN
15,66,G,2,1860,NaN,1,2,D-loop,NaN,NaN,NaN,NaN
16,68,G,6,1859,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
17,69,G,1,1864,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
18,70,G,1,1864,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
19,72,T,NaN,NaN,71,1794,NaN,D-loop,NaN,NaN,NaN,NaN
20,73,A,309,1555,1,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
21,75,G,2,1863,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
22,84,A,1864,NaN,1,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
23,89,T,NaN,NaN,11,1854,NaN,D-loop,NaN,NaN,NaN,NaN
24,92,G,6,1859,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
25,93,A,1824,41,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
26,94,G,18,1847,NaN,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
27,95,A,1858,NaN,6,1,NaN,D-loop,NaN,NaN,NaN,NaN
28,103,G,16,1848,1,NaN,NaN,D-loop,NaN,NaN,NaN,NaN
29,114,C,NaN,NaN,1856,9,NaN,D-loop,NaN,NaN,NaN,NaN
30,119,T,NaN,NaN,2,1863,NaN,D-loop,NaN,NaN,NaN,NaN
31,125,T,NaN,NaN,4,1861,NaN,D-loop,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
275,856,A,2696,8,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
276,861,T,NaN,NaN,1,2703,NaN,12S rRNA,NaN,NaN,NaN,NaN
277,866,A,2703,1,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
278,867,C,NaN,NaN,2703,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
279,869,C,NaN,NaN,2703,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
280,870,C,NaN,NaN,2701,3,NaN,12S rRNA,NaN,NaN,NaN,NaN
281,906,C,NaN,NaN,2703,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
282,921,T,NaN,NaN,18,2686,NaN,12S rRNA,NaN,NaN,NaN,NaN
283,930,G,61,2643,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
284,942,A,2701,3,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
285,951,G,8,2696,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
286,953,T,NaN,NaN,1,2703,NaN,12S rRNA,NaN,NaN,NaN,NaN
287,954,C,NaN,NaN,2702,2,NaN,12S rRNA,NaN,NaN,NaN,NaN
288,956,C,NaN,NaN,2696,NaN,8,12S rRNA,NaN,NaN,NaN,NaN
289,958,C,NaN,NaN,2703,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
290,961,T,NaN,5,37,2662,NaN,12S rRNA,NaN,NaN,NaN,NaN
291,962,C,NaN,NaN,2703,NaN,1,12S rRNA,NaN,NaN,NaN,NaN
292,964,C,1,NaN,2703,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
293,965,C,1,NaN,2703,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
294,966,A,2702,NaN,2,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
295,978,A,2702,2,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
296,979,C,NaN,NaN,2703,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
297,980,T,NaN,NaN,14,2690,NaN,12S rRNA,NaN,NaN,NaN,NaN
298,981,C,NaN,NaN,2703,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
299,982,A,2703,1,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
300,983,C,NaN,NaN,2702,2,NaN,12S rRNA,NaN,NaN,NaN,NaN
301,984,C,1,NaN,2703,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
302,986,G,NaN,2703,NaN,1,NaN,12S rRNA,NaN,NaN,NaN,NaN
303,988,G,4,2700,NaN,NaN,NaN,12S rRNA,NaN,NaN,NaN,NaN
304,998,A,2702,1,NaN,NaN,1,12S rRNA,NaN,NaN,NaN,NaN